
/* 
   ------------------------------------------------------
					Responsive Styles
   ------------------------------------------------------
*/
@media (min-width: 1500px) and (max-width:2000px) {	
.recent-work-wrap .overlay{padding:70px 60px; }
.overlay h3{font-size:28px;}
.overlay p{font-size:18px;}
}
@media (min-width: 992px) and (max-width: 1199px) {	

	/*------------------------------------------*/
	/*	 Intro Description 
	/*------------------------------------------*/
    .navbar-nav > li > a{font-size:12px;}
	  .feature-wrap p {padding:0px; font-size:19px;}
	.data_analyze p{ padding-top: 0em !important;}
	.feature-wrap{margin-bottom:5px;}
	.contact_more p{padding:0px;font-size:19px;}
	.recent-work-wrap .overlay{opacity:1}
		 .titlebar h2{font-size:32px;}
	#intro_description h2 {font-size: 45px; line-height: 45px;}
	#intro_description h3 { font-size: 28px;}
	#intro_description p { font-size: 17px; line-height: 23px;}
	 .head_text h2{font-size:30px;}
	/*------------------------------------------*/
	/*	  Pricing Table Body
	/*------------------------------------------*/

	.pricing-table ul.features { font-size: 15px; padding: 5px 15px; }
	
}


@media only screen and (max-width: 991px){
      .isopro {width:33.2%;}
	.titlebar p {font-size: 16px;line-height: 22px;padding: 0;} 
	 .titlebar h2{font-size:28px;}
	 .portfolio-filter > li a{margin-right: 10px; padding: 8px 10px;}
	#features, #pricing {padding-top: 25px;padding-bottom: 5px;}
	#about, #portfolio, #faq {padding-top: 25px;padding-bottom: 5px;}
	#team {padding-top: 25px;padding-bottom: 5px;}
	#clients {padding-top:25px;padding-bottom: 5px;}
	.recent-work-wrap .overlay{opacity:1}
     .head_text h2{font-size:30px;}
    .navbar-nav > li > a{font-size:12px;}
	.navbar-brand .headimg{width:190px;}
	.feature-wrap p {padding:0px; font-size:15px;}
	.data_analyze p{ padding-top: 0em !important;}
	.feature-wrap{margin-bottom:5px;}
	.contact_more p{padding:0px;font-size:15px;}
	/*------------------------------------------*/
	/*	 Navigation Menu    
	/*------------------------------------------*/
	
	.navbar-nav > li > a {padding: 0 5px;}

	/*------------------------------------------*/
	/*	 Intro Description 
	/*------------------------------------------*/

	#intro {padding-top: 20px; padding-bottom: 40px;}
	
	/*------------------------------------------*/
	/*	 Intro Description 
	/*------------------------------------------*/

	#intro_description h2 { margin-top: 0px; text-align: center;}
	#intro_description h3 { font-size: 30px; text-align: center; margin-bottom: 20px;}
	#intro_description p { font-size: 17px; line-height: 23px;}
	p.intro_paragraph, .intro_list {padding: 0 12% 0 15%;}
	
	/*------------------------------------------*/
	/*	 Intro Register Form  
	/*------------------------------------------*/

	#intro_form { width: 80%; margin-left: 10%;}
		
	/*------------------------------------------*/
	/*	Our Philosophy
	/*------------------------------------------*/
	
	#our-philosophy .img-responsive { margin-top: 60px; padding: 0 80px;}
	#accordion-holder {margin-bottom: 60px;}
	
	/*------------------------------------------*/
	/*	 Call-To-Action Slogan
	/*------------------------------------------*/ 
	
	#cta_slogan {text-align: center; margin-bottom: 10px;}
	
	/*------------------------------------------*/
	/*	 Call-To-Action Button
	/*------------------------------------------*/ 
	
	#cta_button {text-align: center!important;}
	
	
	/*------------------------------------------*/
	/*	  Testimonials Rotator
	/*------------------------------------------*/ 
	
	.testimonials {margin: 50px 0% 50px;}
	
	
	/*------------------------------------------*/
	/*	 Footer 
	/*------------------------------------------*/ 
	
	#footer {padding-top: 25px;padding-bottom: 15px;}
	#footer_copy {text-align: center; margin-bottom: 20px;}
	#footer_icons {text-align: center!important;}
	

}


@media only screen and (max-width: 767px){

	/*------------------------------------------*/
	/*	 Logo Image    
	/*------------------------------------------*/

	.navbar-brand {padding: 8px 45px;} 
	
	/*------------------------------------------*/
	/*	 Responsive Menu
	/*------------------------------------------*/
	
	.navbar-nav { margin: 10px -15px;border-top:1px solid #999; background-color: #2e2e2e;}
    .navbar-collapse{box-shadow:none; }	
	 #myTab .next{width:30%}
	.navbar-nav > li { text-align: center; border:1px solid}
	.navbar-nav > li > a { line-height: 40px; text-align: center;}
	.navbar-toggle {margin: 25px 45px 13px 0;}
	
	/*------------------------------------------*/
	/*	 Intro Description 
	/*------------------------------------------*/

	#intro_description h2 {font-size: 46px; line-height: 46px;}
	#intro_description h3 { font-size: 28px; }	
	#intro_description p { font-size: 16px; line-height: 22px;}
	p.intro_paragraph, .intro_list {padding: 0 15% 0 17%;}
     .feature-wrap p{padding:5px 15px 0;}
	 .data_analyze p{padding-top:0em !important;}
	 .feature-wrap{margin-bottom:15px;}
	 .contact_more p{padding:0 15px;}
	#features, #team, #portfolio, #pricing, #video, #testimonials-rotator { padding-left: 15px; padding-right: 15px; }
	#about, #faq { padding-left: 25px; padding-right: 25px; }
    .recent-work-wrap .overlay{padding:15px 5px;}
	.overlay h3 {font-size:15px;}
	.overlay p{font-size:13px}
	.overlay .inner_tab{padding:2em 0;}
	.titlebar{margin:20px 0}
	/*------------------------------------------*/
	/*	 portfolio 
	/*------------------------------------------*/
	
	.portfolio-filter > li{margin:5px 0}
	.features .abtimg{float:left;padding: 0 10px}
	.features .abt1img{padding: 0 10px;}
  #feature .feature-wrap img{padding:0 20px;}
	/*------------------------------------------*/
	/*	 Clients Carousel Navigation
	/*------------------------------------------*/

	.customNavigation {right: 30px;}
	#footer{text-align:center;}
	.footer-logo img{margin:auto;}
     .socialicon{text-align:center !important; float:none;}

}

@media (min-width: 421px) and (max-width:593px) {	
.isopro{width:49.2%; }
.recent-work-wrap .overlay {
    padding: 30px 5px;
}
.recent-work-wrap1 .overlay{padding:10px 30px;}
}

@media (min-width: 200px) and (max-width:420px) {	
.isopro{width:100%; padding:10px;}
.recent-work-wrap .overlay {
    padding: 5em 1.5em;
}
.recent-work-wrap1{padding:5px;}
.recent-work-wrap1 .overlay{padding:0px;}
.overlay .inner_tab h3{font-size:20px;}
.overlay .inner_tab h3{margin-bottom:5px;}
.overlay .inner_tab p {
    font-size: 16px;
}
.recent-work-wrap .overlay:hover {
    background:none;
    opacity: 1;
}
}
@media (max-width: 480px) {

	#intro, #features, #about, #team, #portfolio, #pricing, #video, #faq { padding-left: 10px; padding-right: 10px; }
	
	/*------------------------------------------*/
	/*	 Logo Image    
	/*------------------------------------------*/

	.navbar-brand {padding: 8px 30px;} 
		 #myTab .next{width:48%}
	/*------------------------------------------*/
	/*	 Responsive Menu
	/*------------------------------------------*/
	
	.navbar-toggle {margin: 25px 30px 13px 0;}
	
	/*------------------------------------------*/
	/*	 Intro Description 
	/*------------------------------------------*/

	#intro {padding-top: 20px; padding-bottom: 40px;}

	#intro_description h2 {font-size: 38px; line-height: 38px;}
	#intro_description h3 { font-size: 22px; }	
	#intro_description p { font-size: 16px; line-height: 22px;}
	p.intro_paragraph {text-align: center; padding: 0;}
	.intro_list {display: none;}
	
	/*------------------------------------------*/
	/*	 Intro Register Form  
	/*------------------------------------------*/
	
	#intro_form { width: 100%; margin-left: 0%;}
	.form_register form { margin: 0 15px;}
	
	/*------------------------------------------*/
	/*	 Feature Box 
	/*------------------------------------------*/

	.feature-box { width: 100%; float: none;}
	
	
	/*------------------------------------------*/
	/*	 Team
	/*------------------------------------------*/ 
	
	#team-member-holder { padding: 0 10%;}
	#team-member-holder .col-xs-6 { width: 100%; float: none !important; }	
	
	/*------------------------------------------*/
	/*	 Portfolio
	/*------------------------------------------*/ 
	
	.portfolio-item { width: 100%; float: none !important; }	
	
	
}


@media (max-width: 380px) {

	#intro, #features, #about, #team, #portfolio, #pricing, #video, #faq { padding-left: 0; padding-right: 0; }
	.head_text h2{font-size:24px;}
	.titlebar h2{font-size:23px;}
	.col-sm-4 {padding-left:0px;}
	/*------------------------------------------*/
	/*	 Logo Image    
	/*------------------------------------------*/
     .navbar-brand .headimg{width:202; height:auto;}
	.navbar-brand {padding: 18px 15px;}  
	
	/*------------------------------------------*/
	/*	 Responsive Menu    
	/*------------------------------------------*/

	.navbar-toggle {margin: 25px 15px 13px 0;}
		/*------------------------------------------*/
	/*	 Team
	/*------------------------------------------*/ 
	
	#team-member-holder { padding: 0;}


}